version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    volumes:
      - .:/app
      - sqlite_data:/app/db
      - static_volume:/app/staticfiles
    command: python manage.py runserver 0.0.0.0:8000

volumes:
  sqlite_data:
  static_volume:

